---
// V2 Feature: This form will eventually post to a Netlify function
// that adds the user to the "Subscribers" sheet.
---
<form class="subscribe-form">
  <h3>Subscribe for Updates</h3>
  <input type="text" name="name" placeholder="Your Name" required />
  <input type="email" name="email" placeholder="Your Email" required />
  <button type="submit">Subscribe</button>
</form>
<style>
  .subscribe-form { margin-top: 4rem; padding-top: 2rem; border-top: 1px solid #333; }
</style>
